* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --background-color-primary: white;

  --border-color-primary: black;
}

body {
  background-color: var(--background-color-primary);
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: normal;
}

section {
  flex: 3;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 15%;
}

a {
  color: inherit;
}

p {
  color: inherit;
}

/* main */
#main-container {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;

}

#title {
  align-items: center;
  text-align: center;
  padding: 1em;
  width: 100%;
  flex: 3;
}

#color-pallete {
  align-items: center;
  align-content: center;
  width: auto;
  flex: 3;
  padding: 0.1em;
}

#pixel-board {
  align-items: center;
  align-content: center;
  width: 280px;
  height: 280px;
  padding: 1em;
}

/* colors  */
.color {
  display: inline-block;
  border: 1px solid var(--border-color-primary);
  width: 40px;
  height: 40px;
}

.black {
  background: black;
}

.magenta {
  background: magenta;
}

.yellow {
  background: yellow;
}

.cyan {
  background: cyan;
}

.random-color {
  background: whitesmoke;
}

.selected {}
